<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html file </title>
</head>
<body>
    <h2>python:</h2>    
        <pre>The python language is one of the most accessible programming 
        languages available because it has simplified syntax and not 
        complicated, which gives more emphasis on natural language.
         Due to its ease of learning and usage python codes can be 
         easily written and executed much faster than other programming languages.</pre>

    <table>
        <thead>
            <tr><th>name</th> 
            <th>age</th>
            <th> phone</th>
            </tr>
        </thead>
        <tbody><tr>
            <td>{{ename}}</td>
            <td>{{eage}}</td>
            <td>{{e_mobile}}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>